.pricing {
  &__wrapper {
    margin: $m-xxl 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__plans {
    display: flex;
    column-gap: $m-md;
    width: 100%;
    margin: $m-lg 0;
  }
}


.user-selector {
  display: flex;
}
