$off-white: #F8F9FC;
$white: #FFFFFF;
$purple: #8456D9;
$text-gray: #666A70;
$light-gray: #E6EAF0;

$radius-sm: 4px;

$bold: 700;

$text-md: 16px;

$m-xs: 4px;
$m-sm: 8px;
$m-md: 16px;
$m-lg: 24px;
$m-xl: 36px;
$m-xxl: 48px;
