$off-white: #F8F9FC;
$white: #FFFFFF;
$purple: #8456D9;
$text-gray: #666A70;
$light-gray: #E6EAF0;
$green: #5DC328;

$radius-sm: 4px;

$bold: 700;

$text-sm: 12px;
$text-base: 16px;

$m-xs: 4px;
$m-sm: 8px;
$m-base: 16px;
$m-md: 24px;
$m-lg: 36px;
$m-xl: 48px;
$m-xxl: 72px;
