$off-white: #F8F9FC;
$white: #FFFFFF;
$dark-purple: #713ECC;
$purple: #8456D9;
$light-purple: #8B5DDD;
$text-gray: #666A70;
$light-gray: #E6EAF0;
$dark-green: #5CB146;
$light-green: #7CD748;
$dark-pink: #EF466A;
$light-pink: #F26C89;
$dark-blue: #2178CE;
$light-blue: #4BA3F4;
$dark-yellow: #FEB80A;
$light-yellow: #FED25C;

$radius-sm: 4px;

$bold: 700;

$text-xs: 12px;
$text-sm: 14px;
$text-base: 16px;

$m-xs: 4px;
$m-sm: 8px;
$m-base: 16px;
$m-md: 24px;
$m-lg: 36px;
$m-xl: 48px;
$m-xxl: 72px;


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$container-max-widths: (
  sm: 540px,
  md: 750px,
  lg: 970px,
  xl: 1170px
);

$screen-xs: map_get($grid-breakpoints, "sm");
$screen-xs-min: $screen-xs;
$screen-xs-max: map_get($grid-breakpoints, "md") - 1;

$screen-sm: map_get($grid-breakpoints, "md");
$screen-sm-min: $screen-sm;
$screen-sm-max: map_get($grid-breakpoints, "lg") - 1;

$screen-md: map_get($grid-breakpoints, "lg");
$screen-md-min: $screen-md;
$screen-md-max: map_get($grid-breakpoints, "xl") - 1;

$screen-lg: map_get($grid-breakpoints, "xl");
